.home{
    position: relative;
    background-color: #10181C;
}

.client_section{
    background-color: #0E1414;
    color: white;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.client_top{
    padding-top: 20px;
}
.client_top h3{
    font-size: 3rem;
    font-weight: 400;
}

.client_top > p{
    font-size: 0.8rem;
    letter-spacing: 4px;
    color: rgb(167, 163, 163);
}

.client_main{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.client_main > img{
    width: 110px;
}



.contact_section{
    width: auto;
    margin: 30px;
    height: 100%;
    display: flex;
    justify-content: center;

}

footer{
    margin-top: 30px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 0.0001pt solid rgba(94, 93, 93, 0.192);
}

.left_footer > .footer_logo{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


.left_footer > .footer_logo > img{
    height: 60px;
    object-fit: contain;
}
.left_footer > .footer_logo> p{
    color: rgb(223, 222, 222);
    font-size: 0.7rem;
    margin-left: 110px;
    margin-top: -15px;
}

.right_footer{
    width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_icons{
    margin-top: 5px;
}
.footer_icons > .footer_icon{
    width: 20px;
    color: rgb(233, 233, 233);
    margin-right: 10px;
    
}

.right_footer > .email{
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(221, 219, 219);
}