.services_section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 70px;
    width: auto;
    height: 100%;
    padding: 10px 0;
    flex-direction: row;
}